.chat-container {
  max-width: 600px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  
}

.chat-container h2 {
  text-align: center;
}

.chat-box {
  border-radius: 10px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  background: #f9f9f9;
}

.message {
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #022953;
  margin-left: auto;
  text-align: right;
}

.bot {
  background: #810303;
  margin-right: auto;
}

.input-box {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
}

.input-box button {
  padding: 10px 15px;
  cursor: pointer;
}

.input-box .reset {
  background: red;
  color: white;
}

.parent {
  background-color: wheat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
